.heading{
  color: #1f51d2;
  text-align: center;
}

.timeline-message, .button{
  font-size: 0.6em;
  font-family: verdana, sans;
  border: solid 1px #1f51d2;
  border-radius: 3px;
  background-color: #CECECE;
  color : #1f51d2;
  margin: 3px 0 0 0;
  padding: 4px 10px 8px 7px;
}

.timeline-message img{
  float: left;
  margin: 0 10px 0 0;
  height: 60px;
  width: 80px;
  border: solid 1px #2b2b27;
  border-radius: 3px;
}

body{
  background-color: #74aced;
  font-family: verdana, sans;
}

#tabs{
  width: 80%;
  margin: 0 10% 0 10%;
}

#tabs a{
  color: #1f51d2;
}
#99e0f6
